.test {
  background-image: url(../../pics/background.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  position: relative;
  min-width: 320px;
}

.test2 {
  /* position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.logoMain {
  width: 40%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
}

.introContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introHeader {
  font-size: 48px;
  width: 80%;
  margin: 16px 0;
  font-family: var(--hFont);
  font-weight: var(--hFontWeight);
  text-align: center;
  color: var(--txtColor);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--txtColor);
}

.buttons button {
  background-color: #ffffff;
  border-radius: 30px;
  width: 185px;
  height: 60px;
  border: 0px solid #f5f5f5;
  font-family: var(--hFont);
  font-weight: var(--hFontWeight);
  /* text-transform: uppercase; */
  font-size: 24px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 481px) {
  .test {
    background-image: url(../../pics/backgroundDesktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 150%;
    height: 100vh;
    width: 100vw;
  }

  .logoMain {
    width: 200px;
  }

  .introContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 65%;
    transform: translate(20% -50%);
  }

  .introHeader {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .test {
    background-image: url(../../pics/backgroundDesktop.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
  }

  .introHeader {
    margin: 0 0 80px 0;
  }
}