.topNavbox {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#logoName {
    display: flex;
    align-items: center;
    color: black;
}
.srcLogo {
    height: 50px;
    margin: 0 16px;
}

#info {
    width: 30px;
    margin: 0 16px;
}

/* modal styling */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.modal-content {
    width: 90%;
    height: 400px;
    background-color: #fff;
    position: relative;
    border-radius: 30px;
}

.modal-content .modal-body {
    display: flex;
    align-items: center;
}

.modal-title {
    text-align: center;
    margin: 16px 0 0;
}

.modal-body {
    padding: 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-body svg {
    width: 40px;
}

.modal-body .formsubmit {
    margin-bottom: 16px;
}

#modalText {
    margin: 0;
    font-size: 18px;
}

.modal-btns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-body button {
    border-radius: 30px;
    border: 0;
    height: 45px;
    width: 50%;
    font-size: 18px;
    box-sizing: border-box;
    margin: 16px 0;
}

#notSolid {
    margin-right: 8px;
    background-color: #ffffff;
    border: 3.5 solid #46512C;
}

#solid {
    margin-left: 8px;
    background-color: #46512C;
    color: #ffffff;
}

#exitIcon {
    height: 40px;
    position: absolute; 
    left: 0;  
    right: 0;  
    margin: 0 auto;
    bottom: 16px;
}

/* add history modal */
.addOrBackModal .modal-content {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 90%;
}

.addOrBackModal .modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.addOrBackModal .modal-body button {
    margin: 8px;
    height: 45px;
}

#storySubmit {
    background-color: #46512C;
    color: #ffffff;
    border-width: 0;
}