a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

input, textarea, button {
    font-family: "Hurme Geometric Sans 4";
}

.historie {
    padding-bottom: 76px;
    // margin-bottom: 70px;
    padding-top: 70px;
    background-image: url(../../pics/background.svg);
    background-position: bottom;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}

.searchContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


    input {
        padding: 15px;
        margin-bottom: 16px;
        font-size: 18px;
        border-radius: 30px;
        border-width: 0;
    }

    #searchButtons {
        button {
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 30px;
            border-width: 3.5px;
            border-color: #46512C;
            background-color: #ffffff;
            font-size: 18px;
        }
    }
}

.StoriesBox {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto 16px;
    border-radius: 30px;
    width: 90%;
}

#StoriesBoxOpen {
    margin-top: 86px;
    margin-bottom: 86px;
}

.StoryBox {
    width: 80%;
    margin: 0 auto;
    padding: 16px;

    h2 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
    padding: 0 0 16px;
    margin: 0;
    }

    h3 {
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 0 0 16px 0;

        img {
            width: 12px;
        }
    }

    #StoryBoxImg {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0 0 16px 0;

        img {
            width: 60%;
        }
    }

    #work {
        font-size: 18px;
        margin: 0;
        padding: 0 0 16px 0;
        text-align: center;
        display: block;
    }

    #graveId {
        font-size: 18px;
        margin: 0;
        padding: 0 0 16px 0;
        text-align: center;
    }

    #story {
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    h4 {
        font-weight: 400;
        padding-bottom: 16px;
        font-size: 18px;
        margin: 0;
    }

    .showMoreContentHidden {
        display: none;
    }

    #showMoreContent {
        display: block;
    }

    .showHistoryBtn {
        display: flex;
        justify-content: center;

        button {
            padding: 10px 20px;
            margin: 16px 0;
            border-radius: 30px;
            border-width: 3.5px;
            border-color: #46512C;
            background-color: #ffffff;
            font-size: 18px;
        }
    }

    .showstoryBtn {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        background-color: #ffffff;
        border-radius: 30px;
        border-width: 3.5px;
        border-color: #46512C;
    }
}

.addStoryBox {
    width: 90%;
    margin: 0 auto 86px;

    .addHistoryHeader {
        text-align: center;
        font-size: 48px;
        margin-top: 86px;
    }

    .nameInput {
        width: 100%;
        margin-bottom: 16px;

        input {
            width: 100%;
            box-sizing: border-box;
            height: 45px;
            border-radius: 30px;
            border-width: 0;
            font-size: 18px;
            padding: 5px 0 5px 15px;
        }
    }

    .bornAndDeadContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 16px;
        
        .bornInput, .deadInput {
            width: 47%;
            height: 45px;
            background-color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            border-radius: 30px;
            position: relative;
    
            .datepicker-toggle-button {
                position: absolute;
                left: 0;
                top: 0;
                width: 47%;
                height: 40px;
                background-color: #ffffff;
                border-radius: 30px;
                border-width: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
            }
    
            .datepicker-input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                box-sizing: border-box;
            }
        }

        .datepicker-input::-webkit-calendar-picker-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        }
    }

    #imgWorkFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .imgInput, .workInput {
            width: 147%
            height: 45px;
            background-color: #ffffff;
            margin-bottom: 16px;
            border-radius: 30px;
            border-width: 0;
            font-size: 18px;

            #addImgContainer, #workInputField {
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    margin-left: 16px;
                }
            }
        }
    }

    .jobIconContainer {
        width: 100%;
        border-radius: 30px;
        background-color: #ffffff;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;

        h4 {
            text-align: center;
        }

        #workName{
            width: 75%;
            padding: 10px;
            margin: 0 auto;
            border: solid #f2f2f2;
            border-radius: 30px;
            font-size: 18px;
        }
    
        .jobIcons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-bottom: 16px;

            ul {
                list-style-type: none;
            }

            li {
                display: inline-block;
            }

            input[type="radio"][id^="jobIconbox"] {
                display: none;
            }

            label {
                border: 3.5px solid #ffffff;
                border-radius: 60px;
                padding: 0 !important;
                display: block;
                position: relative;
                margin: 10px;
                cursor: pointer;
            }
              
            label:before {
                background-color: white;
                color: white;
                content: " ";
                display: block;
                border-radius: 50%;
                border: 1px solid #ffffff;
                position: absolute;
                top: -5px;
                left: -5px;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition-duration: 0.4s;
                transform: scale(0);
            }
              
            label img {
                height: 60px;
                width: auto;
                transition-duration: 0.2s;
                transform-origin: 50% 50%;
            }
              
            :checked + label {
                border: 3.5px solid #46512C;
            }
              
            :checked + label:before {
                content: "✓";
                background-color: #8B9769;
                transform: scale(1);
                z-index: 30;
            }
              
            :checked + label img {
                transform: scale(0.9);
                /* box-shadow: 0 0 5px #333; */
                z-index: -1;
                display: flex;
            }              
        }

        button {
            border-radius: 30px;
            border-width: 3.5px;
            border-color: #46512C;
            background-color: #ffffff;
            font-size: 18px;
            padding: 5px 15px;
            margin: 0 auto 16px;
            width: 100px;
        }
    }

    .historyInput { 
        width: 100%;
        margin: 0 auto 16px;
        padding: 0;
        display: flex;
        justify-content: center;

        .inputfield {
            width: 100%;
            height: 100px;
            padding: 15px;
            margin: 0 ;
            border-radius: 30px;
            border-width: 0;
            font-size: 18px;
        }
    }

    .graveIdInput {
        margin-bottom: 16px;
        height: 45px;
        border-radius: 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input {
            padding: 10px 15px;
            width: 100%;
            border-radius: 30px;
            border-width: 0;
            font-size: 18px;
        }

        select {
            padding: 5px;
            font-size: 18px;
            border-radius: 8px;
            border-width: 0;

            option {
                text-align: center;
            }
        }
    }

    .submitHistoryBtn {
        width: 150px;
        height: 45px;
        // margin: 0 auto;

        .formsubmit {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            border-radius: 30px;
            border: 3.5px solid #46512C;
            padding: 5px 10px;
            box-sizing: border-box;
            font-size: 18px;

            svg {
                margin-right: 16px;
            }
        }
    }
}

