.bg {
  background-image: url(../../pics/background.svg);
  background-position: 0 30vh;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.box {
  background-color: white;
  border-radius: 30px;
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}

h1 {
  font-size: 50px;
  font-family: var(--hFont);
  font-weight: var(--hFontWeight);
  text-align: center;
  color: var(--txtColor);
}
p {
  font-family: var(--hFont);
  font-size: 25px;
}

.logo {
  height: 100px;
  padding: 0;
}

.buttons1 {
  display: flex;
  justify-content: space-between;
  color: var(--txtColor);
}

.buttons1 button {
  background-color: whitesmoke;
  border-radius: 30px;
  width: 150px;
  height: 60px;
  border: 3.5px solid var(--dGreen);
  font-family: var(--hFont);
  font-weight: var(--hFontWeight);
  /* text-transform: uppercase; */
  font-size: 25px;
}

#solid {
  background-color: var(--dGreen);
  color: white;
  margin-left: 5vw;
}
#step5Button {
  background-color: var(--dGreen);
  color: white;
}
