.test {
  background-image: url(../../pics/background.svg);
  background-position: center 30vh;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
  width: 100vw;
}
.test2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 223px;
  padding-top: 50px;
}

h1 {
  font-size: 65.8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  background-color: whitesmoke;
  border-radius: 30px;
  width: 185px;
  height: 60px;
  border: 0px solid whitesmoke;
  font-size: 35px;
  margin-bottom: 27px;
}
