.qrscanner {
  display: flex;
  width: 100vw;
  height: 500px;
  justify-content: center;
}

.qrsite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.qrsite h1 {
  text-align: center;
}

.qr-image-wrapper section {
  border-radius: 50px;
  box-sizing: border-box;
}

.qr-image-wrapper section div {
  box-shadow: rgb(242, 242, 242) 0px 0px 0px 2px inset !important;
  box-sizing: border-box;
  border: 20px solid rgba(0, 0, 0, 0.3) !important;
  border-radius: 50px !important;
}
