body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--BGColor);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* -------------Font---------------- */
@font-face {
  font-family: "Hurme Geometric Sans 4";
  src: url("./HurmeGeometric/HurmeGeometricSans4-Thin.eot");
  src: url("./HurmeGeometric/HurmeGeometricSans4-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometric/HurmeGeometricSans4-Thin.woff") format("woff"),
    url("./HurmeGeometric/HurmeGeometricSans4-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Hurme Geometric Sans 4";
  src: url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.eot");
  src: url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.woff") format("woff"),
    url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --hFont: "Hurme Geometric Sans 4";
  --hFontWeight: 600;
  --btnFont: "Hurme Geometric Sans 4";
  --pFont: "Hurme Geometric Sans 4";
  --pFontWeight: 100;
  --txtColor: #333;
}
