// variables

// fonts

@mixin font100 {
    font-family: "Hurme Geometric Sans 4";
    src: url("./HurmeGeometric/HurmeGeometricSans4-Thin.eot");
    src: url("./HurmeGeometric/HurmeGeometricSans4-Thin.eot?#iefix")
    format("embedded-opentype"),
    url("./HurmeGeometric/HurmeGeometricSans4-Thin.woff") format("woff"),
    url("./HurmeGeometric/HurmeGeometricSans4-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@mixin font400 {
    font-family: "Hurme Geometric Sans 4";
  src: local('Hurme Geometric Sans No.4 Regular'), local('Hurme-Geometric-Sans-No.4-Regular'),
      url('./HurmeGeometric/HurmeGeometricSans4-Regular.woff2') format('woff2'),
      url('./HurmeGeometric/HurmeGeometricSans4-Regular.woff') format('woff'),
      url('./HurmeGeometric/HurmeGeometricSans4-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@mixin font600 {
    font-family: "Hurme Geometric Sans 4";
  src: url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.eot");
  src: url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.woff") format("woff"),
    url("./HurmeGeometric/HurmeGeometricSans4-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

// border 
@mixin border {
    border-radius: 30px;
    border-width: 0;
}



// colors
$background: #f5f5f5;
$btn: #ffffff;
$darkGreen: #46512C;
$lightGreen: #8B9769;

// bakkefarver - if needed
// $hill1: #889466;
// $hill2: #ADB88F;
// $hill3: #D6DEC1;

